@font-face {
  font-family: "shabnam";
  src: url(./fonts/shabnam/Shabnam-FD.eot) format("eot");
  src: url(./fonts/shabnam/Shabnam-FD.ttf) format("ttf");
  src: url(./fonts/shabnam/Shabnam-FD.woff) format("woff");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "shabnam" , Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}